
/* === B2B Styles === */
/* shop signup */
.shop-signup {
    width: 100%;
    background: #5b5b5b;
    display: block;
    color: #fff;
    padding: 12px;
    border-radius: 2px;
    font-size: 14px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3em;
}
.shop-signup:hover {
   color:#fff;
}
div#wpdMainContainer {
    margin: 95px auto;
    max-width: 640px;
}
span.wpd-secondary-header {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    display: block;
}
div.wpd-signup-field input, div.wpd-signup-field select, div.wpd-file-upload-input-button-wrapper {
    border: 1px solid #2b2a27;
    padding: 8px 10px;
}
div.wpd-signup-field label {
    font-size: .75em;
    margin-bottom: 0;
}
/* End shop signup and form style */

/* Home COlors */
.promo-left,.promo-right,.gradient-effect {
    position: relative;
}
.promo-left .promo-grid__bg:after {
    left: 0;
}
.promo-right .promo-grid__bg:after {
    right: 0;
}
.promo-left .promo-grid__bg:after,.promo-right .promo-grid__bg:after {
    content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    width: 36%;
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
} 
.warm .promo-grid__bg:after {
   background: #EC8312;
}
.x-warm .promo-grid__bg:after {
   background: #FF001F;
}
.fresh .promo-grid__bg:after {
   background: #1D89FF;
}
.gradient-effect .promo-grid__bg:after {
  content:'';
    display: block;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
}
.gradient-effect.warm .promo-grid__bg:after {
   background: rgb(236,131,18);
   background: linear-gradient(0deg, rgba(236,131,18,1) 0%, rgba(236,131,18,0) 100%);
}
.gradient-effect.x-warm .promo-grid__bg:after {
   background: rgb(255,0,31);
   background: linear-gradient(0deg, rgba(255,0,31,1) 0%, rgba(255,0,31,0) 100%);
}
.gradient-effect.fresh .promo-grid__bg:after {
   background: rgb(29,137,252);
   background: linear-gradient(0deg, rgba(29,137,252,1) 0%, rgba(29,137,252,0) 100%); 
}
#section-hero-collections .col-collection.col-collection--fresh {
   position:relative;
}
#section-hero-collections .col-collection.col-collection--fresh:before {
    content:'';
    display: block;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    background: rgb(29,137,252);
    background: linear-gradient(0deg, rgba(29,137,252,1) 0%, rgba(29,137,252,0) 100%); 
   opacity: .5;
}
#section-hero-collections .col-collection.col-collection--warm:before {
    content:'';
    display: block;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    background: rgb(236,131,18);
    background: linear-gradient(0deg, rgba(236,131,18,1) 0%, rgba(236,131,18,0) 100%);
   opacity: .5;
}
#section-hero-collections .col-collection.col-collection--xwarm:before {
    content:'';
    display: block;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    background: rgb(255,0,31);
    background: linear-gradient(0deg, rgba(255,0,31,1) 0%, rgba(255,0,31,0) 100%);
   opacity: .5;
}
div.activity-page__pane-selector.fresh,div.activity-page__pane-selector.warm,div.activity-page__pane-selector.x-warm {
  position:relative;
  overflow: hidden;
}
div.activity-page__pane-selector.fresh:before {
    content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: rgb(29,137,252);
}
div.activity-page__pane-selector.warm:before{
  content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: rgb(236,131,18);
}
div.activity-page__pane-selector.x-warm:before {
  content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: rgb(255,0,31); 
}
#section-fresh-collection .container-sliders_markers .container-right,#section-warm-collection .container-sliders_markers .container-right,#section-xwarm-collection .container-sliders_markers .container-right {
    position:relative;
    overflow: hidden;
}
#section-fresh-collection .container-sliders_markers .container-right:before {
    content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: rgb(29,137,252);
}
#section-warm-collection .container-sliders_markers .container-right:before {
    content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: rgb(236,131,18);
}
#section-xwarm-collection .container-sliders_markers .container-right:before {
    content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
     background: rgb(255,0,31); 
}
@media screen and (max-width: 1190px){
  #section-fresh-collection .swiper-container.container-right:before,#section-warm-collection .swiper-container.container-right:before,#section-xwarm-collection .swiper-container.container-right:before {
    top: 70px;
  }
}
#section-fresh-collection .cta-collection,#section-fresh-collection .best-sellers-cta__link {
  background: rgb(29,137,252);border: 0;
}
#section-warm-collection .cta-collection,#section-warm-collection .best-sellers-cta__link {
  background: rgb(236,131,18);border: 0;
}
#section-xwarm-collection .cta-collection,#section-xwarm-collection .best-sellers-cta__link {
  background: rgb(255,0,31); border: 0;
}
.secondary-banner__box {
  position:relative;
    overflow: hidden;
}

.secondary-banner__box.stay-fresh__banner:before {
    content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: rgb(29,137,252);
}
.secondary-banner__box.stay-warm__banner:before {
    content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: rgb(236,131,18);
}
.secondary-banner__box.stay-x-warm__banner:before {
    content:'';
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
     background: rgb(255,0,31); 
}
.secondary-banner__box.stay-fresh__banner + .secondary-banner__box.stay-warm__banner:before {
  right: 0;
  left:auto;
}
  
/* Theme change color */
div.listicons,div.footer__top,div.container-sliders_markers .swiper-button-next {
    background-color: #45519c;
}
